<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Captains Log</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <h1>Edit Page</h1>
    <form action="/logs/<%=log.id%>?_method=PUT" method="POST">
        Title: <input type="text" name="title" value="<%=log.title%>"/><br/>
        Entry: <textarea name="entry" id="" cols="30" rows="10" value="<%=log.entry%>"><%=log.entry%></textarea>
        <input type="checkbox" name="shipIsBroken" checked="<%=log.shipIsBroken%>">
        <input type="submit" value="SUBMIT">
    </form>
</body>
</html>